<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fshop.order.mapper.CartMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, product_id, product_num, product_price, gmt_modified, gmt_create
    </sql>

</mapper>
